<?xml version="1.0" encoding="UTF-8"?>

<launch>

	<!-- Parameters -->
	<arg name="launch_rviz" default="false" />
	<arg name="rviz_config_file"
		 default="$(find se2_grid_map_test)/config/rviz/default.rviz" />

	<!-- Nodes -->
	<node name="se2_grid_map_test_node" pkg="se2_grid_map_test"
		  type="se2_grid_map_test_node" output="screen"
	      launch-prefix="">
		<rosparam file="$(find se2_grid_map_test)/config/default.yaml"/>
		
		<remap from="/se2_grid_map_test_node/grid_map" to="/se2_planner_node/grid_map"/>
	</node>

	<node name="rviz" pkg="rviz" type="rviz"
		  args="-d $(arg rviz_config_file)" required="true"
		  if="$(arg launch_rviz)" />

</launch>